body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
}


.hero {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 40px;

    padding: 60px 40px;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 250px;
    height: 250px;

    border-radius: 50%;
}


.features {
    padding: 40px;
    text-align: center;
}

.features-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.card {
    padding: 30px;

    border: 1px solid #ccc;
    border-radius: 8px;
}

.about {
    padding: 40px;
    text-align: center;
}


.contact {
    padding: 40px;
    max-width: 600px;
    margin: auto;
}


input,
textarea {
    display: block;

    width: 100%;

    margin: 8px 0 20px;
    padding: 10px;
}

textarea {
    min-height: 120px;
}

button:hover {
    background-color: #222;
    color: #fff;
}

button {
    transition: background-color 0.3s;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}



/* Tablet */
@media (max-width: 900px) {

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}



/* Mobile */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

}


.card {
    transition: transform 0.3s;
    /* transform: translateY(20px); */
    /* transform: rotate(10deg); */
    /* transform: scale(1.1) rotate(5deg); */
}

.card:hover {
    transform: scale(1.05);
}

.button {
    transition: transform 0.3s;
}
/* animation */
@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

.contact {
    animation: move 2s;
}
