.pragraph{
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#Lab2{
    color: green;
}

button:hover {
    background-color: red;
    color: white;
}

.pragraph:hover {
    background-color: red;
    color: white;
}